* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
  background-color: red; /*temp*/
  display: grid;
  grid-template-areas:
  'header topicsBar customSearchBar settings'
  'displayRouter displayRouter displayRouter displayRouter';
  grid-template-columns: 1.5fr 2fr 3fr 2fr;
}

.header {
  background-color: green; /*temp*/
  grid-area: header;
  padding-left: 5%;
  width: auto;
  white-space: nowrap;
}

.topicsBar {
  background-color: yellow; /*temp*/
  grid-area: topicsBar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topicsBar__dropdown {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: red;
  position: relative;
}


.topicsBar__dropdown__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}

.customSearchBar {
  background-color: blue; /*temp*/
  grid-area: customSearchBar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  appearance: none;
}

.settings {
  background-color: white; /*temp*/
  grid-area: settings;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.settings__dropdown {
  display: grid;
  grid-template-areas:
  'currentUser settings__dropdown--open settings__dropdown--closed'
  'settings__dropdown__menu settings__dropdown__menu settings__dropdown__menu';
  justify-content: right;
}

.settings__dropdown .currentUser {
  grid-area: currentUser;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.settings__dropdown--closed {
  grid-area: settings__dropdown--closed;
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  border: solid;
  width: 1.5rem;
  justify-content: space-evenly;
  padding: 10%;
}

.settings__dropdown--open {
  grid-area: settings__dropdown--open;
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  border: solid;
  width: 1.5rem;
  padding: 10%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.settings__dropdown__menu__line--closed {
  border: 1px solid;
}

.settings__dropdown__menu__line--open {
  border: 1px solid;
  position: absolute;
  width: 1.5rem;
}

.slash {
  transform: rotate(45deg);
}

.backslash {
  transform: rotate(-45deg)
}

.settings__dropdown__menu {
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
}

.displayRouter {
  background-color: pink; /*temp*/
  grid-area: displayRouter;
  display: flex;
  flex-direction: column;
}

.articleSortingBar {
  padding-left: 30%;
  padding-top: 1%;
}

.articleSortingBar__dropdown {
  display: flex;
  flex-direction: row;
  gap: 1rem
}

.selectedSortBy {
  width: 7rem;
}

.articleSortingBar {
  display: block;
}

.displayArticlesByTopics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 30%;
}

.displayArticlesByTopics .article {
  border: solid;
  display: grid;
  grid-template-areas:
  'articleAuthor articleAuthor articleAuthor'
  'articleTitle  articleTitle  articleTitle '
  'articleImg articleImg articleImg'
  'articleVotes articleCommentCount articleDate';
  padding: 1% 10%;
}

.displayArticlesByTopics .article .articleTitle {
  grid-area: articleTitle;
}

.displayArticlesByTopics .article .articleImg {
  grid-area: articleImg;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1% 5%
}

.displayArticlesByTopics .article .articleAuthor {
  grid-area: articleAuthor;
}

.displayArticlesByTopics .article .articleVotes {
  grid-area: articleVotes;
}

.displayArticlesByTopics .article .articleCommentCount {
  grid-area: articleCommentCount;
}

.displayArticlesByTopics .article .articleDate {
  grid-area: articleDate;
  white-space: nowrap;
}

.displaySingleArticle {
  display: flex;
  flex-direction: column;
  padding: 1% 30%;
  gap: 1rem;
}

.displaySingleArticle .article {
  display: grid;
  grid-template-areas:
  'singleArticleAuthor singleArticleAuthor'
  'singleArticleTitle singleArticleTitle'
  'singleArticleImg singleArticleImg'
  'singleArticleBody singleArticleBody'
  'singleArticleVotes singleArticleCommentCount';
  gap: 0.5%;
}

.displaySingleArticle .article .articleTitle {
  grid-area: singleArticleTitle
}

.displaySingleArticle .article .articleImg {
  grid-area: singleArticleImg;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1% 5%
}

.displaySingleArticle .article .articleAuthor {
  grid-area: singleArticleAuthor
}

.displaySingleArticle .article .articleBody {
  grid-area: singleArticleBody
}

.displaySingleArticle .article .articleCommentCount {
  grid-area: singleArticleCommentCount
}

.displaySingleArticle .article .articleVotes {
  grid-area: singleArticleVotes;
  display: flex;
  gap: 0.5rem
}

.displaySingleArticle .commentForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0.1rem;
  align-items: center;
}

.displaySingleArticle .commentFormBody{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 4rem;
}

.displaySingleArticle .submitButton {
  width: 20%;
}

.displaySingleArticle .comment {
  display: grid;
  grid-template-areas:
  'commentAuthor commentAuthor'
  'commentBody commentBody'
  'commentVotes commentCreatedAt';
  border: solid;

}

.displaySingleArticle .comment .commentAuthor {
  grid-area: commentAuthor
}

.displaySingleArticle .comment .commentCreatedAt {
  grid-area: commentCreatedAt
}

.displaySingleArticle .comment .commentBody {
  grid-area: commentBody
}

.displaySingleArticle .comment .commentVotes {
  grid-area: commentVotes;
  display: flex;
}