* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
  background-color: white;
  display: grid;
  grid-template-areas:
  'header topicsBar customSearchBar settings'
  'displayRouter displayRouter displayRouter displayRouter';
  grid-template-columns: 1.5fr 2fr 3fr 2fr;
}

.header {
  background-color: white;
  grid-area: header;
  padding-left: 5%;
  width: auto;
  white-space: nowrap;
  color: red;
}

.topicsBar {
  grid-area: topicsBar;
  display: inline-block;
  align-items: center;
  color: black;
  position: relative;
  margin: auto;
  white-space: nowrap;
  width: 60%;
  border: 1px solid;
  border-color: rgb(201, 201, 201);
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 0.3rem;
}

.topicsBar--expanded {
  grid-area: topicsBar;
  display: inline-block;
  align-items: center;
  color: black;
  position: relative;
  margin: auto;
  white-space: nowrap;
  width: 60%;
  border: 1px solid;
  border-color: rgb(201, 201, 201);
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 0.3rem 0.3rem 0 0;
}

.topicsBar__dropdown {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.topicsBar:hover {
  border-color: black;
}

.topicsBar__dropdown__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  left: -1px;
  right: -1px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-radius: 0 0 0.3rem 0.3rem;
  border-color: rgb(201, 201, 201);
  background-color: whitesmoke;
}

.customSearchBar {
  background-color: white;
  grid-area: customSearchBar;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.customSearchBar .customSearchForm {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.customSearchBar .customSearchForm button {
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  border-color: rgb(201, 201, 201);
  background-color: whitesmoke;
}

#searchInput {
  flex: 1;
  text-align: center;
  border: 1px solid;
  border-radius: 0.3rem;
  border-color: rgb(201, 201, 201);
  background-color: whitesmoke;
}

#searchInput:hover {
  border-color: blue;
}

#searchInput:focus {
  border-color: blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settings {
  background-color: white; /*temp*/
  grid-area: settings;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  
}

.settings__dropdown {
  display: grid;
  grid-template-areas:
  'currentUser settings__dropdown--open settings__dropdown--closed'
  'settings__dropdown__menu settings__dropdown__menu settings__dropdown__menu';
  justify-content: right;
  position: relative;
  width: fit-content;
  margin-left: auto;
  border: 1px solid;
  border-radius: 0.3rem;
  padding-left: 5%;
  border-color: rgb(201, 201, 201);
  background-color: whitesmoke;
}

.settings__dropdown--expanded {
  display: grid;
  grid-template-areas:
  'currentUser settings__dropdown--open settings__dropdown--closed'
  'settings__dropdown__menu settings__dropdown__menu settings__dropdown__menu';
  justify-content: right;
  position: relative;
  width: fit-content;
  margin-left: auto;
  border: 1px solid;
  border-bottom-color: white ;
  border-radius: 0.3rem 0.3rem 0 0;
  padding-left: 5%;
  border-color: rgb(201, 201, 201);
  background-color: whitesmoke;
}

.settings__dropdown:hover {
  border-color: black;
}

.settings__dropdown .currentUser {
  grid-area: currentUser;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.settings__dropdown--expanded .currentUser {
  grid-area: currentUser;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.settings__dropdown--closed {
  grid-area: settings__dropdown--closed;
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  width: 1.5rem;
  justify-content: space-evenly;
  padding: 10%;
}

.settings__dropdown--open {
  grid-area: settings__dropdown--open;
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  width: 1.5rem;
  padding: 10%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.settings__dropdown__menu__line--closed {
  border: 1px solid;
}

.settings__dropdown__menu__line--open {
  border: 1px solid;
  position: absolute;
  width: 1.5rem;
}

.slash {
  transform: rotate(45deg);
}

.backslash {
  transform: rotate(-45deg)
}

.settings__dropdown__menu {
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  top: 24px;
  left: -1px;
  right: -1px;
  padding-left: 10%;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0 0 0.3rem 0.3rem;
  border-color: rgb(201, 201, 201);
  background-color: whitesmoke;
}

.displayRouter {
  background-color: pink; /*temp*/
  grid-area: displayRouter;
  display: flex;
  flex-direction: column;
}

.articleSortingBar {
  padding-left: 30%;
  padding-top: 1%;
}

.articleSortingBar__dropdown {
  display: flex;
  flex-direction: row;
  gap: 1rem
}

.selectedSortBy {
  width: 7rem;
}

.articleSortingBar {
  display: block;
}

.displayArticlesByTopics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 30%;
}

.displayArticlesByTopics .article {
  border: solid;
  display: grid;
  grid-template-areas:
  'articleAuthor articleAuthor articleAuthor'
  'articleTitle  articleTitle  articleTitle '
  'articleImg articleImg articleImg'
  'articleVotes articleCommentCount articleDate';
  padding: 1% 10%;
}

.displayArticlesByTopics .article .articleTitle {
  grid-area: articleTitle;
}

.displayArticlesByTopics .article .articleImg {
  grid-area: articleImg;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1% 5%
}

.displayArticlesByTopics .article .articleAuthor {
  grid-area: articleAuthor;
}

.displayArticlesByTopics .article .articleVotes {
  grid-area: articleVotes;
}

.displayArticlesByTopics .article .articleCommentCount {
  grid-area: articleCommentCount;
}

.displayArticlesByTopics .article .articleDate {
  grid-area: articleDate;
  white-space: nowrap;
}

.displaySingleArticle {
  display: flex;
  flex-direction: column;
  padding: 1% 30%;
  gap: 1rem;
}

.displaySingleArticle .article {
  display: grid;
  grid-template-areas:
  'singleArticleAuthor singleArticleAuthor'
  'singleArticleTitle singleArticleTitle'
  'singleArticleImg singleArticleImg'
  'singleArticleBody singleArticleBody'
  'singleArticleVotes singleArticleCommentCount';
  gap: 0.5%;
}

.displaySingleArticle .article .articleTitle {
  grid-area: singleArticleTitle
}

.displaySingleArticle .article .articleImg {
  grid-area: singleArticleImg;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1% 5%
}

.displaySingleArticle .article .articleAuthor {
  grid-area: singleArticleAuthor
}

.displaySingleArticle .article .articleBody {
  grid-area: singleArticleBody
}

.displaySingleArticle .article .articleCommentCount {
  grid-area: singleArticleCommentCount
}

.displaySingleArticle .article .articleVotes {
  grid-area: singleArticleVotes;
  display: flex;
  gap: 0.5rem
}

.displaySingleArticle .commentForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0.1rem;
  align-items: center;
}

.displaySingleArticle .commentFormBody{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 4rem;
}

.displaySingleArticle .submitButton {
  width: 20%;
}

.displaySingleArticle .comment {
  display: grid;
  grid-template-areas:
  'commentAuthor commentAuthor'
  'commentBody commentBody'
  'commentVotes commentCreatedAt';
  border: solid;

}

.displaySingleArticle .comment .commentAuthor {
  grid-area: commentAuthor
}

.displaySingleArticle .comment .commentCreatedAt {
  grid-area: commentCreatedAt
}

.displaySingleArticle .comment .commentBody {
  grid-area: commentBody
}

.displaySingleArticle .comment .commentVotes {
  grid-area: commentVotes;
  display: flex;
}