* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 428px) {
  body {
    display: flex;
    justify-content: center;
  }

  #root {
    display: grid;
    width: 100%;
    grid-template-areas:
    'header settings'
    'border1 border1'
    'topicsbar customsearchbar'
    'border2 border2'
    'displayrouter displayrouter';
    grid-template-rows: 2.5rem auto 2.3rem auto;
    grid-template-columns: 2fr 3fr;
    background-color: red;
    position: relative;
  }

  /* ------------------------------ header ---------------------------- */

  header {
    display: flex;
    color: white;
    padding-left: 0.5rem;
    position: sticky;
    top: 0px;
    font-size: 0.8rem;
    align-items: center;
  }

  /*----------------------------- settings ---------------------------*/
  .settings {
    grid-area: settings;
    display: flex;
    justify-self: right;
    color: white;
  }

  .settings .dropdown {
    display: grid;
    grid-template-areas:
    'currentUser dropdown-toggle' ;
    gap: 1rem;
  }

  .settings .dropdown .currentUser {
    grid-area: currentUser;
    margin: auto;
  } 

  .settings .dropdown .dropdown-toggle {
    grid-area: dropdown-toggle;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: .2rem;
    position: relative;
    background-color: inherit;
  }

  .settings .dropdown-toggle .menu-line {
    border: 1px solid;
    width: 70%;
    color: white;
  }

  .users-dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: red;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    z-index: 1;
  }

  .users-dropdown-menu .dropdown-item {
    color: white;
    text-decoration: none;
  }

  .dropdown .users-dropdown-menu {
    visibility: hidden;
  }

  .show .users-dropdown-menu {
    visibility: visible;
  }

  /* -------------------------------- border ----------------------------- */
  .border1,
  .border2{
    border: 1px solid;
    border-color: rgb(138, 101, 101);
  }

  .border1 {
    grid-area: border1;
  }

  .border2 {
    grid-area: border2;
  }

  /*----------------- topicsbar -------------------*/

  .topicsbar {
    padding: 0.2rem;
    grid-area: topicsbar;
    display: flex;
    height: 80%;
    align-self: center;
  }

  .topicsbar .dropdown-toggle {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: red;
    color: white;
    min-width: 7rem;
    
  }

  .topics-dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    gap: 0.5rem;
    align-items: center;
    background-color: red;
    padding: 1rem;
    position: absolute;
  }

  .topics-dropdown-menu .dropdown-item {
    color: white;
    text-decoration: none;
  }

  .dropdown .topics-dropdown-menu {
    visibility: hidden;
  }

  .show .topics-dropdown-menu {
    visibility: visible;
    width: 100%;
    height: 100%;
  }

  /* ------------------------------customSearchForm------------------ */
  .customsearchbar {
    grid-area: customsearchbar;
    display: flex;
  }

  .customSearchForm {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }

  .customSearchForm label {
    display: inline-block;
    color: white;
  }

  .customSearchForm input {
    width: 20%;
  }

  /*------------------------------------ displayRouter -------------------*/
  .displayrouter {
    grid-area: displayrouter;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.1rem 0;
    background-color: rgb(201, 199, 199);
  }

   /* -----------articleSortingBar----------- */
   .articleSortingBar {
    display: flex;
    padding-left: 0.5rem;
  }

  .articleSortingBar .dropdown {
    width: 20%;
  }

  .articleSortingBar .dropdown .dropdown-toggle {
    width: 80%;
  }
 
  .articleSortingBar .sortBy-dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .articleSortingBar button.active {
    visibility: hidden;
  }

  .articleSortingBar .order {
    width: 10%;
    position: relative;
  }

  .articleSortingBar .asc,
  .articleSortingBar .desc {
    position: absolute;
    width: 100%;
  }

  .articleSortingBar .sortingStatus .hidden {
    visibility: hidden;
  }

  .dropdown .sortBy-dropdown-menu {
    visibility: hidden;
  }

  .show .sortBy-dropdown-menu {
    visibility: visible;
  }

  /* ----------------------displayRouter-ArticlesByTopic------------- */
  .displayArticlesByTopics {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .displayArticlesByTopics .article {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: fit-content 1fr 1fr;
    grid-template-areas:
    'articleTitle articleTitle articleImg'
    'articleAuthor articleAuthor articleAuthor'
    'articleVotes articleCommentCount articleDate';
    gap: 0.5rem;
    background-color: white;
  }

  .displayArticlesByTopics .articleTitle {
    font-size: 1rem;
    grid-area: articleTitle;
  }

  .displayArticlesByTopics .articleImg {
    grid-area: articleImg;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .displayArticlesByTopics .articleAuthor {
    grid-area: articleAuthor;
    font-size: 0.8rem;
  }

  .displayArticlesByTopics .articleVotes {
    grid-area: articleVotes;
    font-size: 0.8rem;
  }

  .displayArticlesByTopics .articleCommentCount {
    grid-area: articleCommentCount;
    font-size: 0.8rem;
  }

  .displayArticlesByTopics .articleDate {
    grid-area: articleDate;
    font-size: 0.8rem;
    margin-left: auto;
  }
  /*----------------- displayRouter-singleArticle -------------------*/

  .displaySingleArticle {
    width: 100%;
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
  }

  .displaySingleArticle .article {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto 1rem;
    grid-template-areas:
    'articleTitle articleTitle articleTitle'
    'articleAuthor articleAuthor articleAuthor'
    'articleImg articleImg articleImg'
    'articleBody articleBody articleBody'
    'articleVotes _ articleCommentCount';
    background-color: white;
  } 

  .displaySingleArticle .articleTitle {
    grid-area: articleTitle;
  }

  .displaySingleArticle .articleImg {
    grid-area: articleImg;
    width: 100%;
    height: 100%;
    padding: 5%;
  }

  .displaySingleArticle .articleAuthor {
    grid-area: articleAuthor
  }

  .displaySingleArticle .articleVotes {
    grid-area: articleVotes;
  }



  .displaySingleArticle .articleBody {
    grid-area: articleBody;
    margin-bottom: 1rem;
  }

  .displaySingleArticle .articleVotes {
    display: grid;
    grid-template-areas:
    'upVoteBtn voteCount downVoteBtn';
    grid-column: 1fr 1fr 1fr;
  }

  .displaySingleArticle .articleCommentCount {
    margin: auto;
  }


  .displaySingleArticle .upVoteBtn {
    grid-area: upVoteBtn;
  }

  .displaySingleArticle .downVoteBtn {
    grid-area: downVoteBtn;
  }

  .displaySingleArticle .voteCount {
    grid-area: voteCount;
    margin: auto;
  }

  .displaySingleArticle button.active {
    background-color: red
  }

  /* ----------------------------comments---------------------- */
  .displaySingleArticle .comments {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .displaySingleArticle .commentForm {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
  }

  .displaySingleArticle .commentForm .commentFormBody{
    min-height: 3rem;
    width: 100%;
    border: 1px solid;
  }

  .displaySingleArticle .commentForm .submitButton{
    width: 50%;
    height: 1.5rem;
    border-radius: 2rem;
  }

  .displaySingleArticle .comment {
    display: grid;
    grid-template-columns: 6rem auto 1fr;
    grid-template-areas:
    'commentAuthor commentAuthor commentCreatedAt'
    'commentBody commentBody commentBody'
    'commentVotes _ _';
    gap: 0.5rem;
    background-color: white;
    padding: 1%;
  }

  .displaySingleArticle .comment .commentVotes {
    grid-area: commentVotes;
    display: flex;
  }

  .displaySingleArticle .comment .upVoteBtn,
  .displaySingleArticle .comment .downVoteBtn,
  .displaySingleArticle .comment .voteCount {
    width: 2rem;
  }

  .displaySingleArticle .comment .voteCount {
    text-align: center;
  }

  .displaySingleArticle .articleCommentCount {
    grid-area: articleCommentCount
  }

  .displaySingleArticle .comment .commentAuthor {
    grid-area: commentAuthor;
  }
  
  .displaySingleArticle .comment .commentCreatedAt {
    grid-area: commentCreatedAt;
    justify-self: right;
  }
  
  .displaySingleArticle .comment .commentBody {
    grid-area: commentBody;
  }
  
  

} 
/* end of media screen */

@media screen and (min-width: 429px) {
  body {
    display: flex;
    background-color: white
  };
}
/* ---------------to delete after ------------------------*/

